@page "/profile/settings"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using P2PReview.Application.Interfaces
@using P2PReview.Application.Users
@using P2PReview.Web.Services
@using P2PReview.Web.State
@using P2PReview.Domain.ConstantsImLazy


@rendermode InteractiveServer
@attribute [Authorize]

@inject IUserService UserService
@inject IFileService FileService
@inject NavigationManager Nav
@inject UserContext UserContext
@inject AvatarUrlProvider AvatarUrlProvider

@if (UserContext.Profile == null)
{
    <p>Загрузка...</p>
}
else
{
    <div class="container">
        <div class="form">
            <div class="card">

                <!-- Avatar -->
                <div class="avatar-block">
    
                    <div class="group">
                        <label>Аватар</label>
                        <div class="avatar-hint">.png, .jpg, до 5 mb</div>
                        
                    </div>
    
                    <label class="avatar-upload">
                        <img src="@previewAvatarUrl" class="avatar-img" onerror="this.onerror=null;this.src='/uploads/avatars/default-avatar.png';" />
                        <InputFile OnChange="OnAvatarSelected"
                                   accept=".jpg,.jpeg,.png,image/jpeg,image/png"
                                   hidden />
                    </label>
    
                </div>

                <!-- Form -->
                <EditForm Model="model" OnValidSubmit="Save">
                    <DataAnnotationsValidator />

                    <div class="group">
                        <label>Email</label>
                        <InputText class="input-field"
                                   disabled
                                   @bind-Value="@UserContext.Profile.Email" />
                        <ValidationMessage For="@(() => model.UserName)" />
                    </div>

                    <div class="group">
                        <label>Имя пользователя</label>
                        <InputText class="input-field"
                                   placeholder="Введите имя пользователя"
                                   @bind-Value="model.UserName" />
                        <ValidationMessage For="@(() => model.UserName)" />
                    </div>

                    <div class="group">
                        <label>Ссылки на профили</label>
                        <div class="input-with-icon">
                            <i class="fa-brands fa-github" style="color:#24292e"></i>
                            <InputText class="input-field"
                                       @bind-Value="model.GitHubUrl"
                                       placeholder="Ссылка на ваш GitHub" />
                        </div>
                        <ValidationMessage For="@(() => model.GitHubUrl)" />

                        <div class="input-with-icon">
                            <i class="fa-brands fa-gitlab" style="color:darkorange"></i>
                            <InputText class="input-field"
                                       @bind-Value="model.GitLabUrl"
                                       placeholder="Ссылка на ваш GitLab" />
                        </div>
                        <ValidationMessage For="@(() => model.GitLabUrl)" />
                    </div>

                    


                    <div class="group">

                        <label>
                            Стек технологий
                        </label>

                        <div class="tags-picker">

                            @foreach (var tag in _tags)
                            {
                                <div class="selected-tag">

                                    <span>@tag</span>

                                    <button type="button"
                                            @onclick="() => RemoveTag(tag)">
                                        ✕
                                    </button>

                                </div>
                            }

                            @if (_tags.Count < 5)
                            {
                                <input class="tag-input"
                                       placeholder="Начните вводить..."
                                       @bind="tagInput"
                                       @bind:event="oninput" />
                            }

                        </div>

                        @if (!string.IsNullOrWhiteSpace(tagInput))
                        {
                            <div class="tags-suggestions">

                                @foreach (var tag in Suggestions)
                                {
                                    <button type="button"
                                            class="suggestion-item"
                                            @onclick="() => AddTag(tag)">
                                        @tag
                                    </button>
                                }

                            </div>
                        }

                    </div>



                    <div class="group">
                        <label class="checkbox-label toggle-label">
                            <span class="label-text">
                                Автоматически брать в работу подходящие ревью
                            </span>

                            <label class="switch">
                                <input type="checkbox"
                                       @bind="model.IsAutoGetReview" />
                                <span class="slider"></span>
                            </label>
                        </label>

                        <small class="hint">
                            Система может назначать на вас новые опубликованные запросы на ревью
                        </small>
                    </div>

                    <div class="actions">
                        <button type="submit" class="btn-save">
                            Сохранить
                        </button>

                        <button type="button"
                                class="btn-cancel"
                                @onclick="Cancel">
                            Отмена
                        </button>
                    </div>

                </EditForm>

            </div>
        </div>
    </div>
}

@code {
    private EditUserProfileModel model = new();
    private IBrowserFile? avatarFile = null;
    private string? previewAvatarUrl;

    protected override async Task OnInitializedAsync()
    {
        await UserContext.InitializeAsync();

        model.UserName = UserContext.Profile?.UserName ?? "";
        model.GitHubUrl = UserContext.Profile?.GitHubUrl ?? "";
        model.GitLabUrl = UserContext.Profile?.GitLabUrl ?? "";
        model.IsAutoGetReview = UserContext.Profile?.IsAutoGetReview ?? false;
        _tags = UserContext.Profile?.Tags.ToList() ?? new ();

        previewAvatarUrl = AvatarUrlProvider.GetAvatarUrl(UserContext.Profile?.AvatarId);
    }

    private async Task OnAvatarSelected(InputFileChangeEventArgs e)
    {
        avatarFile = e.File;

        using var stream = avatarFile.OpenReadStream(5 * 1024 * 1024);
        using var ms = new MemoryStream();

        await stream.CopyToAsync(ms);

        previewAvatarUrl = $"data:{avatarFile.ContentType};base64,{Convert.ToBase64String(ms.ToArray())}";
    }

    private async Task Save()
    {
        if (UserContext.Profile == null)
        {
            return;    
        }

        string? newAvatarId = null;

        if (avatarFile != null)
        {
            newAvatarId = await FileService.UploadAvatarAsync(avatarFile);
            await FileService.DeleteAvatarAsync(UserContext.Profile.AvatarId);
        }

        await UserService.UpdateUserProfileAsync(UserContext.Profile.Id, new UpdateUserProfileDto
        {
            UserName = model.UserName,
            AvatarId = newAvatarId,
            GitHubUrl = model.GitHubUrl,
            GitLabUrl = model.GitLabUrl,
            Tags = _tags.ToArray(),
            IsAutoGetReview = model.IsAutoGetReview,
        });

        await UserContext.RefreshAsync();

        Nav.NavigateTo("/profile");
    }

    private void Cancel()
    {
        Nav.NavigateTo("/profile");
    }

    private List<string> _tags = new();
    public class EditUserProfileModel
    {
        [Required(ErrorMessage = "Обязательно для заполнения")]
        public string UserName { get; set; } = string.Empty;

        [RegularExpression(@"^https://github\.com/.*",
        ErrorMessage = "Невалидный url")]
        public string? GitHubUrl { get; set; }

        [RegularExpression(@"^https://gitlab\.com/.*",
        ErrorMessage = "Невалидный url")]
        public string? GitLabUrl { get; set; }

        public bool IsAutoGetReview { get; set; }
    }

    private string tagInput = "";

    private IEnumerable<string> Suggestions =>
        ReviewTags.All
            .Where(x =>
                !_tags.Contains(x) &&
                x.Contains(tagInput, StringComparison.OrdinalIgnoreCase))
            .Take(8);

    private void AddTag(string tag)
    {
        if (_tags.Count >= 5)
            return;

        if (_tags.Contains(tag))
            return;

        _tags.Add(tag);

        tagInput = "";
    }

    private void RemoveTag(string tag)
    {
        _tags.Remove(tag);
    }
}