@page "/profile/{UserId:guid}"

@using Microsoft.AspNetCore.Authorization
@using P2PReview.Application.Interfaces
@using P2PReview.Application.Users
@using P2PReview.Web.Services

@attribute [Authorize]

@inject NavigationManager Nav
@inject IUserService UserService
@inject AvatarUrlProvider AvatarUrlProvider

@rendermode InteractiveServer

<div class="profile-page">

    <div class="profile-card">

        @if (profile?.IsOwnProfile == true)
        {
            <a href="/logout" class="logout-icon">
                <i class="fa-solid fa-right-from-bracket"></i>
            </a>


            <a href="/settings/profile" class="edit-icon">
                <i class="fa-solid fa-pen"></i>
            </a>
        }
     

        <img class="profile-avatar"
             src="@AvatarUrlProvider.GetAvatarUrl(profile?.AvatarId)" />

        <h2 class="username">
            @profile?.UserName
        </h2>

        <div class="xp-block">
            <i class="fa-solid fa-bolt"></i>
            <span>@profile?.QualityScore</span>
        </div>

        @if (!string.IsNullOrWhiteSpace(profile?.GitHubUrl))
        {
            <div class="profile-meta">
                <i class="fa-brands fa-github" style="color:#24292e"></i>
                <a href="@profile.GitHubUrl">@GetGitUsername(profile.GitHubUrl)</a>
            </div>
        }

        
        @if (!string.IsNullOrWhiteSpace(profile?.GitLabUrl))
        {
            <div class="profile-meta">
                <i class="fa-brands fa-gitlab" style="color:darkorange"></i>
                <a href="@profile.GitLabUrl">@GetGitUsername(profile.GitLabUrl)</a>
            </div>
        }

        <div class="stats-box">
            <div class="stats-title">Проведено ревью</div>

            <div class="stats-content">

                <div class="circle" style="@CircleStyle">
                    <div class="center">
                        <span class="big">@(profile?.ReviewsGiven ?? 0)</span>
                        <span class="small">Всего</span>
                    </div>
                </div> 

                <div class="legend">

                    <div class="row">
                        <div class="description">
                            <span class="dot easy"></span>
                            easy
                        </div>
                        <div class="value">@(profile?.ReviewsEasy ?? 0)</div>
                    </div>

                    <div class="row">
                        <div class="description">
                            <span class="dot normal"></span>
                            normal
                        </div>
                        <div class="value">@(profile?.ReviewsNormal ?? 0)</div>
                    </div>

                    <div class="row">
                        <div class="description">
                            <span class="dot hard"></span>
                            hard
                        </div>
                        <div class="value">@(profile?.ReviewsHard ?? 0)</div>
                    </div>

                </div>

            </div>
        </div>
    </div>


     <!-- RIGHT PANEL -->
    <div class="profile-content">

        <div class="tabs">

            <button class="tab @(activeTab == TabsEnum.ReviewRequests ? "active" : "")"
                    @onclick="() => SetActiveTub(TabsEnum.ReviewRequests)">
                @(profile?.IsOwnProfile == true ? "Мои проекты" : "Проекты")
            </button>

            <button class="tab @(activeTab == TabsEnum.TakenReviews ? "active" : "")"
                    @onclick="() => SetActiveTub(TabsEnum.TakenReviews)">
                Недавние ревью
            </button>

            <button class="tab @(activeTab == TabsEnum.Friends ? "active" : "")"
                    @onclick="() => SetActiveTub(TabsEnum.Friends)">
                Друзья
            </button>

        </div>

        @if (activeTab == TabsEnum.ReviewRequests)
        {
            <div class="review-requests-list">

                @if (profile?.IsOwnProfile == true)
                {
                    <a class="new-review-request-btn" href="review/request/create" data-enhance-nav="false">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                }

                <div class="empty-state">
                    Пусто :(
                </div>

            </div>
        }

        @if (activeTab == TabsEnum.TakenReviews)
        {
            <div class="taken-reviews-list">

                <div class="empty-state">
                    Пусто :(
                </div>

            </div>
        }

        @if (activeTab == TabsEnum.Friends)
        {
            <div class="friends-list">

                <div class="empty-state">
                    Пусто :(
                </div>

            </div>
        }


        



    </div> 

</div>


@code {
    [Parameter] public Guid UserId { get; set; }

    private UserProfileDto? profile;
    private bool isLoading = true;
    private TabsEnum activeTab = TabsEnum.ReviewRequests;

    public enum TabsEnum
    {
        ReviewRequests,
        TakenReviews,
        Friends,
    }

    private async Task SetActiveTub(TabsEnum tab)
    {
        activeTab = tab;
    }


    protected override async Task OnParametersSetAsync()
    {
        await LoadProfile();
    }

    private async Task LoadProfile()
    {
        isLoading = true;

        try
        {
            profile = await UserService.GetUserProfileAsync(UserId.ToString());
        }
        catch
        {
            profile = null;
        }

        isLoading = false;
    }

    private string CircleStyle
    {
        get
        {
            if (profile == null || profile.ReviewsGiven <= 0)
                return "background: conic-gradient(#ddd 0deg 360deg);";

            var easyAngle = (int)Math.Round((double)profile.ReviewsEasy / profile.ReviewsGiven * 360);
            var normalAngle = (int)Math.Round((double)profile.ReviewsNormal / profile.ReviewsGiven * 360);
            var hardAngle = 360 - easyAngle - normalAngle;

            var eEnd = easyAngle;
            var nEnd = easyAngle + normalAngle;

            return
                $"background: conic-gradient(" +
                $"#5D6BC0 0deg {eEnd}deg, " +
                $"#CECB7D {eEnd}deg {nEnd}deg, " +
                $"#DF7572 {nEnd}deg 360deg);";
        }
    }

    private string? GetGitUsername(string url)
    {
        if (string.IsNullOrWhiteSpace(url))
            return null;

        if (Uri.TryCreate(url, UriKind.Absolute, out var uri))
        {
            var segments = uri.AbsolutePath.Trim('/').Split('/');

            if (segments.Length > 0)
                return segments[0];
        }

        return null;
    }

}