@page "/register"
@rendermode InteractiveServer

@using P2PReview.Application.Auth.Commands
@using P2PReview.Application.Interfaces
@using System.ComponentModel.DataAnnotations

@inject NavigationManager Nav
@inject IAuthService AuthService

@layout EmptyLayout

<div class="auth-container">

    <div class="auth-card">

      @*   <div class="auth-brand">
            P2P Review
        </div> *@

        <h1 class="auth-title">
            Регистрация
        </h1>

        <p class="auth-subtitle">
            Создайте аккаунт, чтобы публиковать запросы на ревью и получать обратную связь от сообщества.
        </p>

        <EditForm Model="@registerModel"
                  OnValidSubmit="HandleRegister"
                  FormName="registerForm">

            <DataAnnotationsValidator />

            <div class="field">
                <label>Email</label>

                <InputText class="input"
                           @bind-Value="registerModel.Email"
                           placeholder="Введите email" />

                <ValidationMessage For="@(() => registerModel.Email)" />
            </div>

            <div class="field">
                <label>Пароль</label>

                <div class="password-field">

                    <InputText class="input"
                               type="@(showPassword ? "text" : "password")"
                               @bind-Value="registerModel.Password"
                               placeholder="Введите пароль" />

                    <button type="button"
                            class="password-toggle"
                            @onclick="TogglePassword">
                        @(showPassword ? "Скрыть" : "Показать")
                    </button>

                </div>

                <ValidationMessage For="@(() => registerModel.Password)" />
            </div>

            <div class="field">
                <label>Подтверждение пароля</label>

                <div class="password-field">

                    <InputText class="input"
                               type="@(showConfirmPassword ? "text" : "password")"
                               @bind-Value="registerModel.ConfirmPassword"
                               placeholder="Повторите пароль" />

                    <button type="button"
                            class="password-toggle"
                            @onclick="ToggleConfirmPassword">
                        @(showConfirmPassword ? "Скрыть" : "Показать")
                    </button>

                </div>

                <ValidationMessage For="@(() => registerModel.ConfirmPassword)" />
            </div>

            @if (!string.IsNullOrWhiteSpace(errorMessage))
            {
                <div class="validation-message auth-error">
                    @errorMessage
                </div>
            }

            <button type="submit"
                    class="btn primary btn-login"
                    disabled="@isLoading">

                @if (isLoading)
                {
                    <span class="spinner-border me-2"></span>
                    <span>Создание аккаунта...</span>
                }
                else
                {
                    <span>Создать аккаунт</span>
                }

            </button>

        </EditForm>

        <div class="divider">
            <span>или</span>
        </div>

        <div class="register-link">
            Уже есть аккаунт?
            <a href="/login">Войти</a>
        </div>

    </div>

</div>

@code {
    private RegisterModel registerModel = new();
    private string? errorMessage;

    private bool showPassword;
    private bool showConfirmPassword;

    private bool isLoading;

    private void TogglePassword()
        => showPassword = !showPassword;

    private void ToggleConfirmPassword()
        => showConfirmPassword = !showConfirmPassword;

    private async Task HandleRegister()
    {
        if (isLoading)
        {
            return;
        }

        errorMessage = null;
        isLoading = true;
        
        try
        {
            if (registerModel.Password != registerModel.ConfirmPassword)
            {
                errorMessage = "Пароли не совпадают";
                return;
            }

            var registerCommand = new RegisterCommand()
                {
                    Email = registerModel.Email,
                    Password = registerModel.Password
                };

            var result = await AuthService.RegisterAsync(registerCommand);

            if (result.Success)
            {
                Nav.NavigateTo("/login", forceLoad: true);
                return;
            }

            errorMessage = string.Join("\n", result.Errors);
        }
        finally
        {
            isLoading = false;
        }

    }

    public class RegisterModel
    {
        [Required(ErrorMessage = "Введите email")]
        [EmailAddress(ErrorMessage = "Некорректный email")]
        public string Email { get; set; } = "";

        [Required(ErrorMessage = "Введите пароль")]
        [MinLength(8, ErrorMessage = "Минимум 8 символов")]
        [RegularExpression(@"^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[\W_]).+$", 
        ErrorMessage = "Пароль должен содержать строчные, заглавные буквы, цифру и спецсимвол")]
        public string Password { get; set; } = "";

        [Required(ErrorMessage = "Повторите пароль")]
        public string ConfirmPassword { get; set; } = "";
    }
}