@page "/review/response/{Id:guid}"

@using P2PReview.Application.Extensions
@using P2PReview.Application.Files
@using P2PReview.Application.Interfaces
@using P2PReview.Application.ReviewRequests
@using P2PReview.Application.ReviewResponses
@using P2PReview.Domain.Enums
@using P2PReview.Web.Components.Shared

@rendermode InteractiveServer

@inject IReviewRequestService ReviewRequestService
@inject IReviewResponseService ReviewResponseService
@inject NavigationManager Nav

<PageTitle>Review Response</PageTitle>

<div class="review-page">

    @if (reviewResponse == null)
    {
        <div class="review-container">
            <p class="loading-text">Неверный url или ревью удалено...</p>
        </div>
    }
    else
    {
        <div class="review-container">

            <!-- HEADER -->

            <div class="review-header">

                <!-- TOP ROW -->
                <div class="review-header-top">

                    <div class="review-title-group">

                        <h1 class="review-title">
                            @reviewRequest.Name
                        </h1>

                        <div class="difficulty difficulty-@reviewRequest.Difficulty">
                            @reviewRequest.DifficultyLabel
                        </div>

                    </div>

                    @if (reviewResponse.IsOwn)
                    {
                        if (reviewResponse.Status == ReviewResponseStatus.InProgress)
                        {
                            <div class="buttons">
                                <button class="save-btn" @onclick="async () => await SaveReviewResponse(ReviewResponseStatus.InProgress)">
                                    <i class="fa-solid fa-floppy-disk"></i>
                                    Сохранить
                                </button>

                                <button class="submit-btn" @onclick="async () => await SaveReviewResponse(ReviewResponseStatus.Submitted)">
                                    <i class="fa-solid fa-paper-plane"></i>
                                    Отправить
                                </button>

                                <button class="delete-btn" @onclick="DeleteReviewResponse">
                                    <i class="fa-solid fa-trash"></i>
                                    Удалить
                                </button>
                            </div>
                        }
                        else if (reviewResponse.Status == ReviewResponseStatus.Submitted)
                        {
                            <div class="status-banner submitted">
                                <i class="fa-regular fa-clock"></i>
                                <span>Ждет оценки</span>
                            </div>
                        }
                    }
                    else if (reviewRequest.IsOwn)
                    {
                        if (reviewResponse.Status == ReviewResponseStatus.Submitted)
                        {
                            <div class="buttons">
                                <button class="save-btn" @onclick="async () => await SaveReviewResponse(ReviewResponseStatus.Accepted)">
                                    <i class="fa-solid fa-check" style="font-size : 18px;"></i>
                                    Принять
                                </button>

                                <button class="delete-btn" @onclick="async () => await SaveReviewResponse(ReviewResponseStatus.Rejected)">
                                    <i class="fa-solid fa-xmark" style="font-size : 18px;"></i>
                                    Отклонить
                                </button>
                            </div>
                        }
                    }

                    @if (reviewResponse.Status == ReviewResponseStatus.Accepted)
                    {
                        <div class="status-banner accepted">
                            <i class="fa-solid fa-check"></i>
                            <span>Принято</span>
                        </div>
                    }
                    else if (reviewResponse.Status == ReviewResponseStatus.Rejected)
                    {
                        <div class="status-banner rejected">
                            <i class="fa-solid fa-xmark"></i>
                            <span>Отклонено</span>
                        </div>
                    }

                </div>

                <!-- BOTTOM ROW -->
                @if (!string.IsNullOrWhiteSpace(reviewRequest.Description))
                {
                    <div class="review-description">
                        @reviewRequest.Description
                    </div>
                }

            </div>

            <!-- META -->

            <div class="review-meta">

                @if (!string.IsNullOrWhiteSpace(reviewRequest.TechStack))
                {
                    <div class="meta-chip">
                        <span class="meta-label">Стек:</span>
                        <span class="meta-value">@reviewRequest.TechStack</span>
                    </div>
                }

                @* <div class="meta-chip">
                    <span class="meta-label">Дата создания:</span>
                    <span class="meta-value">
                        @reviewRequest.CreatedAt.ToString("dd.MM.yyyy")
                    </span>
                </div> *@

                @if (reviewRequest.Deadline.HasValue && reviewResponse.IsOwn)
                {
                    <div class="meta-chip">
                        <span class="meta-label">Дедлайн:</span>
                        <span class="meta-value">
                            @($"{reviewRequest.Deadline.Value.ToString("dd.MM.yyyy")} ({reviewRequest.DeadlineLabel})")
                        </span>
                    </div>
                }

            </div>

            <!-- FILES -->

            <div class="files-section">

                <div class="files-header">

                    <div class="files-title">
                        Файлы
                    </div>

                    <div class="files-count">
                        @(reviewRequest.Files?.Count ?? 0) файлов
                    </div>

                </div>

                @if (reviewRequest.Files != null && reviewRequest.Files.Any())
                {
                    <div class="editor-layout">

                        <!-- SIDEBAR -->

                        <div class="files-sidebar">

                            @foreach (var file in reviewRequest.Files)
                            {
                                <button class="file-tab @(selectedFile?.Name == file.Name ? "active" : "")"
                                        @onclick="() => SelectFile(file)">

                                    <i class="fa-regular fa-file-code"></i>

                                    <span>
                                        @file.Name
                                    </span>

                                </button>
                            }

                        </div>

                        <!-- EDITOR -->

                        <div class="editor-container">

                            <div class="editor-header">

                                <div class="editor-file">
                                    <i class="fa-regular fa-file-code"></i>

                                    @selectedFile?.Name
                                </div>

                                <div class="editor-language">
                                    @CodeLanguageExtensions.ToDisplayName(selectedLanguage)
                                </div>

                            </div>

                            <MonacoEditor @bind-Value="selectedFile?.Content"
                                          CodeLanguage="@selectedLanguage"
                                          ReadOnly="true"
                                          MinHeight="644px"
                                          MaxHeight="644px"
                                          BorderRadius="0px"
                                          Comments="@selectedFileComments"
                                          CanEditComments="@(reviewResponse.IsOwn && reviewResponse.Status == ReviewResponseStatus.InProgress)"
                                          CommentSaveHandle="@OnCommentSaved" 
                                          CommentDeleteHandle="@OnCommentDeleted"/>

                        </div>

                    </div>
                }
                else
                {
                    <div class="empty-files">
                        Нет файлов:(
                    </div>
                }

            </div>


            <div class="review-evaluation">

                <!-- CODE RATING -->
                @if ((!string.IsNullOrWhiteSpace(reviewResponse.Summary)
                        || reviewResponse.CodeRating != null
                        || (reviewResponse.IsOwn && reviewResponse.Status == ReviewResponseStatus.InProgress)))
                {
                    <div class="evaluation-block">

                        <div class="evaluation-label">Оценка кода</div>

                        <div class="rating-row">
                            @for (int i = 1; i <= 5; i++)
                            {
                                var rating = i;

                                <button class="rating-btn @(reviewResponse.CodeRating == i ? "active" : "")"
                                        @onclick="() => SetCodeRating(rating)">
                                    @i
                                </button>
                            }
                        </div>

                        @if (reviewResponse.IsOwn && reviewResponse.Status == ReviewResponseStatus.InProgress)
                        {
                            <textarea class="evaluation-textarea"
                                      placeholder="Комментарий по коду..."
                                      @bind="reviewResponse.Summary"></textarea>
                        }
                        else if (!string.IsNullOrWhiteSpace(reviewResponse.Summary))
                        {
                            <div class="evaluation-readonly">
                                @reviewResponse.Summary
                            </div>
                        }

                    
                    </div>
                }

                <!-- REVIEW RATING -->
                @if (reviewResponse.Status != ReviewResponseStatus.InProgress
                && (!string.IsNullOrWhiteSpace(reviewResponse.ReviewFeedback)
                    || reviewResponse.ReviewRating != null
                    || (reviewRequest.IsOwn && reviewResponse.Status == ReviewResponseStatus.Submitted)))
                {
                    <div class="evaluation-block">

                        <div class="evaluation-label">Оценка ревью</div>

                        <div class="rating-row">
                            @for (int i = 1; i <= 5; i++)
                            {
                                var rating = i;

                                <button class="rating-btn @(reviewResponse.ReviewRating == i ? "active" : "")"
                                        @onclick="() => SetReviewRating(rating)">
                                    @i
                                </button>
                            }
                        </div>
                        @if (reviewRequest.IsOwn && reviewResponse.Status == ReviewResponseStatus.Submitted)
                        {
                            <textarea class="evaluation-textarea"
                                      placeholder="Обратная связь по ревью..."
                                      @bind="reviewResponse.ReviewFeedback"></textarea>
                        }
                        else if (!string.IsNullOrWhiteSpace(reviewResponse.ReviewFeedback))
                        {
                            <div class="evaluation-readonly">
                                @reviewResponse.ReviewFeedback
                            </div>
                        }
                    </div>
                }

            </div>

        </div>
    }

</div>

@code {

    [Parameter]
    public Guid Id { get; set; }

    private List<ReviewResponseCommentDto> selectedFileComments = new();

    private ReviewResponseDto? reviewResponse;
    private ReviewRequestDto? reviewRequest;

    private ReadedCodeFileDto? selectedFile;
    private CodeLanguage selectedLanguage = CodeLanguage.PlainText;

    private async Task OnCommentSaved(ReviewResponseCommentDto comment)
    {
        var existing = reviewResponse.Comments.FirstOrDefault(x => x.Line == comment.Line 
            && x.FileId == selectedFile.Id);

        if (existing != null)
        {
            existing.Content = comment.Content;
            existing.Type = comment.Type;
        }
        else
        {
            comment.FileId = selectedFile.Id;

            reviewResponse.Comments.Add(comment);

            selectedFileComments.Add(comment);
        }
    }

    private async Task OnCommentDeleted(ReviewResponseCommentDto comment)
    {
        var existing = reviewResponse.Comments.FirstOrDefault(x => x.Line == comment.Line
            && x.FileId == selectedFile.Id);

        if (existing != null)
        {
            reviewResponse.Comments.Remove(existing);
            selectedFileComments.Remove(existing);
        }
    }

    private async Task SetCodeRating(int rating)
    {
        if (reviewResponse.IsOwn && reviewResponse.Status == ReviewResponseStatus.InProgress)
        {
            reviewResponse.CodeRating = rating;
        }
    }

    private async Task SetReviewRating(int rating)
    {
        if (reviewRequest.IsOwn && reviewResponse.Status == ReviewResponseStatus.Submitted)
        {
            reviewResponse.ReviewRating = rating;
        }
    }

    private void SelectFile(ReadedCodeFileDto file)
    {
        if (file == null)
        {
            return;
        }

        selectedFile = file;

        selectedLanguage = CodeLanguageExtensions.FromFileName(file.Name);

        selectedFileComments = reviewResponse.Comments.Where(x => x.FileId == selectedFile.Id).ToList();
    }



    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        reviewResponse = await ReviewResponseService.GetResponseAsync(Id.ToString());

        if (reviewResponse == null)
        {
            return;
        }

        reviewRequest = await ReviewRequestService.GetReviewRequestAsync(reviewResponse.ReviewRequestId);

        if (reviewRequest?.Files != null &&
            reviewRequest.Files.Any())
        {
            SelectFile(reviewRequest.Files.First());
        }
    }


    private async Task SaveReviewResponse(ReviewResponseStatus status = ReviewResponseStatus.InProgress)
    {
        var updateDto = new UpdateReviewResponseDto()
        {
            CodeRating = reviewResponse?.CodeRating,
            Summary = reviewResponse?.Summary,
            ReviewRating = reviewResponse?.ReviewRating,
            ReviewFeedback = reviewResponse?.ReviewFeedback,
            Status = status,
            Comments = reviewResponse?.Comments
        };

        var updatedDto = await ReviewResponseService.UpdateResponseAsync(reviewResponse?.Id, updateDto);

        if (updatedDto != null)
        {
            updatedDto.IsOwn = reviewResponse.IsOwn;
            reviewResponse = updatedDto;
        }
    }

    private async Task DeleteReviewResponse()
    {
        if (reviewResponse == null)
            return;

        var success = await ReviewResponseService
            .DeleteResponseAsync(reviewResponse.Id);

        if (success)
        {
            Nav.NavigateTo("/", true);
        }
    }
}