@page "/settings/profile"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Forms
@using System.ComponentModel.DataAnnotations
@using P2PReview.Application.Interfaces
@using P2PReview.Application.Users.DTOs
@using P2PReview.Web.Services
@using P2PReview.Web.State

@rendermode InteractiveServer
@attribute [Authorize]

@inject IUserService UserService
@inject IFileService FileService
@inject NavigationManager Nav
@inject UserContext UserContext
@inject AvatarUrlProvider AvatarUrlProvider

@if (UserContext.Profile == null)
{
    <p>Загрузка...</p>
}
else
{
    <div class="container">
        <div class="form">
            <div class="card">

                <!-- Avatar -->
                <div class="avatar-block">
    
                    <div class="group">
                        <label>Аватар</label>
                        <div class="avatar-hint">.png, .jpg, до 5 mb</div>
                        
                    </div>
    
                    <label class="avatar-upload">
                        <img src="@previewAvatarUrl" class="avatar-img" />
                        <InputFile OnChange="OnAvatarSelected"
                                   accept=".jpg,.jpeg,.png,image/jpeg,image/png"
                                   hidden />
                    </label>
    
                </div>

                <!-- Form -->
                <EditForm Model="model" OnValidSubmit="Save">
                    <DataAnnotationsValidator />

                    <div class="group">
                        <label>Email</label>
                        <InputText class="input-field"
                                   disabled
                                   @bind-Value="@UserContext.Profile.Email" />
                        <ValidationMessage For="@(() => model.UserName)" />
                    </div>

                    <div class="group">
                        <label>Имя пользователя</label>
                        <InputText class="input-field"
                                   placeholder="Введите имя пользователя"
                                   @bind-Value="model.UserName" />
                        <ValidationMessage For="@(() => model.UserName)" />
                    </div>

                    <div class="group">
                        <label>Ссылки на профили</label>
                        <div class="input-with-icon">
                            <i class="fa-brands fa-github" style="color:#24292e"></i>
                            <InputText class="input-field"
                                       @bind-Value="model.GitHubUrl"
                                       placeholder="Ссылка на ваш GitHub" />
                        </div>
                        <ValidationMessage For="@(() => model.GitHubUrl)" />

                        <div class="input-with-icon">
                            <i class="fa-brands fa-gitlab" style="color:darkorange"></i>
                            <InputText class="input-field"
                                       @bind-Value="model.GitLabUrl"
                                       placeholder="Ссылка на ваш GitLab" />
                        </div>
                        <ValidationMessage For="@(() => model.GitLabUrl)" />
                    </div>

                    <div class="actions">
                        <button type="submit" class="btn-save">
                            Сохранить
                        </button>

                        <button type="button"
                                class="btn-cancel"
                                @onclick="Cancel">
                            Отмена
                        </button>
                    </div>

                </EditForm>

            </div>
        </div>
    </div>
}

@code {
    private EditUserProfileModel model = new();
    private IBrowserFile? avatarFile = null;
    private string? previewAvatarUrl;

    protected override async Task OnInitializedAsync()
    {
        await UserContext.InitializeAsync();

        model.UserName = UserContext.Profile?.UserName ?? "";
        model.GitHubUrl = UserContext.Profile?.GitHubUrl ?? "";
        model.GitLabUrl = UserContext.Profile?.GitLabUrl ?? "";

        previewAvatarUrl = AvatarUrlProvider.GetAvatarUrl(UserContext.Profile?.AvatarId);
    }

    private async Task OnAvatarSelected(InputFileChangeEventArgs e)
    {
        avatarFile = e.File;

        using var stream = avatarFile.OpenReadStream(5 * 1024 * 1024);
        using var ms = new MemoryStream();

        await stream.CopyToAsync(ms);

        previewAvatarUrl = $"data:{avatarFile.ContentType};base64,{Convert.ToBase64String(ms.ToArray())}";
    }

    private async Task Save()
    {
        if (UserContext.Profile == null)
        {
            return;    
        }

        string? newAvatarId = null;

        if (avatarFile != null)
        {
            newAvatarId = await FileService.UploadAvatarAsync(avatarFile);
            await FileService.DeleteAvatarAsync(UserContext.Profile.AvatarId);
        }

        await UserService.UpdateUserProfileAsync(UserContext.Profile.Id, new UpdateUserProfileDto
        {
            UserName = model.UserName,
            AvatarId = newAvatarId,
            GitHubUrl = model.GitHubUrl,
            GitLabUrl = model.GitLabUrl
        });

        await UserContext.RefreshAsync();

        Nav.NavigateTo("/profile");
    }

    private void Cancel()
    {
        Nav.NavigateTo("/profile");
    }

    public class EditUserProfileModel
    {
        [Required(ErrorMessage = "Обязательно для заполнения")]
        public string UserName { get; set; } = string.Empty;

        [RegularExpression(@"^https://github\.com/.*",
        ErrorMessage = "Невалидный url")]
        public string? GitHubUrl { get; set; }

        
        [RegularExpression(@"^https://gitlab\.com/.*",
        ErrorMessage = "Невалидный url")]
        public string? GitLabUrl { get; set; }
    }
}