@using P2PReview.Application.ReviewResponses
@using P2PReview.Domain.Enums

@inject IJSRuntime JS
@implements IAsyncDisposable

<div class="monaco-wrapper"
     style="width:100%;
    min-height:@MinHeight;
    max-height:@MaxHeight;
    border-radius:@BorderRadius;
    overflow:hidden;">

    <div id="@_editorId"
         class="monaco-host">
    </div>

    @if (_modalOpen)
    {
        <div class="comment-panel">

            <div class="comment-header">
                <div class="comment-title">
                    Строка @_currentComment?.Line
                </div>

                <button class="close-btn" @onclick="CloseModal">✕</button>
            </div>

            <div class="comment-body">


                <textarea class="comment-textarea"
                          placeholder="Введите комментарий..."
                          @bind="_currentComment.Content"
                          readonly="@(!_isEditMode)">
                      </textarea>

                
                <div class="comment-types">
                    <button type="button"
                            class="comment-btn @(_currentComment.Type == ReviewResponseCommentType.Comment ? "active" : "")"
                            @onclick="() => SetCommentType(ReviewResponseCommentType.Comment)">
                        <i class="fa-regular fa-comment"></i>
                        Комментарий
                    </button>

                    <button type="button"
                            class="suggestion-btn @(_currentComment.Type == ReviewResponseCommentType.Suggestion ? "active" : "")"
                            @onclick="() => SetCommentType(ReviewResponseCommentType.Suggestion)">
                        <i class="fa-solid fa-lightbulb"></i>
                        Предложение
                    </button>

                    <button type="button"
                            class="issue-btn @(_currentComment.Type == ReviewResponseCommentType.Issue ? "active" : "")"
                            @onclick="() => SetCommentType(ReviewResponseCommentType.Issue)">
                        <i class="fa-solid fa-circle-exclamation"></i>
                        Проблема
                    </button>

                    <button type="button"
                            class="praise-btn @(_currentComment.Type == ReviewResponseCommentType.Praise ? "active" : "")"
                            @onclick="() => SetCommentType(ReviewResponseCommentType.Praise)">
                        <i class="fa-solid fa-thumbs-up"></i>
                        Похвала
                    </button>

                </div>

            </div>

            @if (_isEditMode)
            {
                <div class="comment-footer">
                    <button class="save-btn" @onclick="SaveComment">
                        <i class="fa-solid fa-floppy-disk"></i>
                        Сохранить
                    </button>

                    <button class="delete-btn" @onclick="DeleteComment">
                        <i class="fa-solid fa-trash"></i>
                        Удалить
                    </button>

                </div>
            }

        </div>
    }

</div>


@code {
    [Parameter] public bool CanEditComments { get; set; } = false;

    [Parameter] public List<ReviewResponseCommentDto> Comments { get; set; } = new();

    [Parameter] public EventCallback<ReviewResponseCommentDto> CommentSaveHandle { get; set; }

    [Parameter] public EventCallback<ReviewResponseCommentDto> CommentDeleteHandle { get; set; }

    [Parameter] public bool ReadOnly { get; set; } = false;

    [Parameter] public string Value { get; set; } = "";

    [Parameter] public EventCallback<string> ValueChanged { get; set; }

    [Parameter] public CodeLanguage CodeLanguage { get; set; } = CodeLanguage.JavaScript;

    [Parameter] public string MinHeight { get; set; } = "200px";

    [Parameter] public string MaxHeight { get; set; } = "700px";

    [Parameter] public string BorderRadius { get; set; } = "10px";

    private readonly string _editorId = $"monaco_{Guid.NewGuid():N}";
    private DotNetObjectReference<MonacoEditor>? _objRef;
    private bool _initialized;
    private string? _previousLanguage;
    private string? _previousValue;
    private string? _previousCommentsHash;

    private bool _modalOpen;
    private ReviewResponseCommentDto? _currentComment;
    private bool _isEditMode;

    private void SetCommentType(ReviewResponseCommentType type)
    {
        if (!CanEditComments || _currentComment is null)
            return;

        _currentComment.Type = type;
    }

    private string language => CodeLanguage switch
    {
        CodeLanguage.CSharp => "csharp",
        CodeLanguage.JavaScript => "javascript",
        CodeLanguage.TypeScript => "typescript",
        CodeLanguage.Python => "python",
        CodeLanguage.Java => "java",
        CodeLanguage.Go => "go",
        CodeLanguage.Rust => "rust",
        CodeLanguage.Cpp => "cpp",
        CodeLanguage.Php => "php",
        CodeLanguage.Swift => "swift",
        CodeLanguage.Kotlin => "kotlin",
        CodeLanguage.Sql => "sql",
        CodeLanguage.Html => "html",
        CodeLanguage.Css => "css",
        CodeLanguage.Json => "json",
        _ => "plaintext"
    };

    private string GetCommentsHash()
    {
        if (Comments == null || Comments.Count == 0)
            return "";

        return string.Join("|", Comments
            .OrderBy(x => x.Line)
            .Select(x => $"{x.Line}:{x.Type}"));
    }

    protected override async Task OnParametersSetAsync()
    {
        if (!_initialized)
            return;

        if (_previousLanguage != language)
        {
            _previousLanguage = language;

            await JS.InvokeVoidAsync(
                "monacoInterop.setLanguage",
                _editorId,
                language
            );
        }

        if (_previousValue != Value)
        {
            _previousValue = Value;

            try
            {
                await JS.InvokeVoidAsync(
                "monacoInterop.setValue",
                _editorId,
                Value);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
            }
        }

        var hash = GetCommentsHash();

        if (_previousCommentsHash != hash)
        {
            _previousCommentsHash = hash;

            await MarkComments();
        }
    }

    public async Task MarkComments()
    {
        if (!_initialized)
            return;

        try
        {
            await JS.InvokeVoidAsync(
                "monacoInterop.markComments",
                _editorId,
                Comments);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _initialized = true;

            _previousLanguage = language;
            _previousValue = Value;

            _objRef = DotNetObjectReference.Create(this);

            try
            {
                await JS.InvokeVoidAsync(
                "monacoInterop.init",
                _editorId,
                language,
                Value,
                MinHeight,
                MaxHeight,
                ReadOnly,
                _objRef
                );
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
            }

        }

        await MarkComments();
    }

    [JSInvokable]
    public async Task OnEditorValueChanged(string value)
    {
        Value = value;

        await ValueChanged.InvokeAsync(value);
    }

    public async ValueTask DisposeAsync()
    {
        _objRef?.Dispose();

        try
        {
            await JS.InvokeVoidAsync(
                "monacoInterop.dispose",
                _editorId
            );
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }
    }

    private Task OpenCommentModal(ReviewResponseCommentDto comment, bool isEdit)
    {
        _currentComment = new ReviewResponseCommentDto
        {
            Id = comment.Id,
            Line = comment.Line,
            Content = comment.Content,
            ReviewResponseId = comment.ReviewResponseId,
            Type = comment.Type,
            CreatedAt = comment.CreatedAt
        };

        _isEditMode = isEdit;
        _modalOpen = true;

        StateHasChanged();
        return Task.CompletedTask;
    }

    private async Task DeleteComment()
    {
        if (_currentComment is null)
            return;

        await CommentDeleteHandle.InvokeAsync(_currentComment);

        await MarkComments();

        await CloseModal();
    }

    private async Task SaveComment()
    {
        if (_currentComment is null)
            return;

        if (string.IsNullOrWhiteSpace(_currentComment.Content))
        {
            await DeleteComment();
            return;
        }

        await CommentSaveHandle.InvokeAsync(_currentComment);

        await MarkComments();

        await CloseModal();
    }

    private async Task CloseModal()
    {
        try
        {
            await JS.InvokeVoidAsync(
            "monacoInterop.highlightLine",
            _editorId,
            null);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }

        _modalOpen = false;
    }


    [JSInvokable]
    public async Task OnLineClicked(int line)
    {
        try
        {
            await JS.InvokeVoidAsync(
            "monacoInterop.highlightLine",
            _editorId,
            line);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }

        var existing = Comments?.FirstOrDefault(x => x.Line == line);

        if (existing != null)
        {
            if (CanEditComments)
            {
                await OpenCommentModal(existing, isEdit: true);
            }
            else
            {
                await OpenCommentModal(existing, isEdit: false);
            }
        }
        else
        {
            if (!CanEditComments)
                return;

            var newComment = new ReviewResponseCommentDto
            {
                Line = line,
                Content = ""
            };

            await OpenCommentModal(newComment, isEdit: true);
        }
    }
}